{include file="public:header" /}
{include file="public:nav" /}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">首页</a>
                </li>

                <li>
                    <a href="#">用户管理</a>
                </li>
                <li class="active">添加管理员</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    用户管理
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        添加管理员
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="form-horizontal" role="form" id="form">
                        <input type="hidden" name="id" value="{$rule['id']}" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">权限名称:</label>
                            <div class="col-sm-9">
                                <input name="title" type="text" class="col-xs-10 col-sm-5" value="{$rule['title']}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">权&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;限:</label>
                            <div class="col-sm-9">
                                <input name="name" type="text"class="col-xs-10 col-sm-5" value="{$rule['name']}"/>
                            </div>
                            <span class="help-block m-b-none col-sm-9" style="color: red;margin-bottom: 0px;">模块/控制器/操作,如:Admin/Index/index</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件:</label>
                            <div class="col-sm-9">
                                <input name="condition" type="text" class="col-xs-10 col-sm-5" value="{$rule['condition']}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">设为菜单:</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="is_menu" value="1" class="ace" {if condition='$rule.is_menu eq 1'}checked{/if} />
                                    <span class="lbl">是</span>
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <label>
                                    <input type="radio" name="is_menu" value="0" class="ace" {if condition='$rule.is_menu eq 0'}checked{/if}/>
                                    <span class="lbl">否</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态:</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" value="1" class="ace" {if condition='$rule.status eq 1'}checked{/if}/>
                                    <span class="lbl">启用</span>
                                </label>
                                <label>
                                    <input type="radio" name="status" value="0" class="ace" {if condition='$rule.status eq 0'}checked{/if}/>
                                    <span class="lbl">禁用</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-3">
                            <button class="submit btn btn-info" type="button">提交</button>
                        </div>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div>
{include file="public:footer" /}
{include file="public:formAjaxSubmit"}
<script>
    formAjaxSubmit("{:url('Auth/ruleEdit')}");
</script>