{include file="public:header" /}
{include file="public:nav" /}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">首页</a>
                </li>

                <li>
                    <a href="#">用户管理</a>
                </li>
                <li class="active">管理员列表</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    用户管理
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        管理员列表
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="simple-table" class="table  table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户名</th>
                                    <th>用户组</th>
                                    <th>创建时间</th>
                                    <th>登录次数</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="list" id="vo"}
                                    <tr>
                                        <td class="center">{$vo.id}</td>
                                        <td class="center">{$vo.username}</td>
                                        <td>{$vo.title}</td>
                                        <td>{$vo.create_time}</td>
                                        <td>{$vo.login_count}</td>
                                        <td>
                                            {if condition="$vo.status eq 1"}
                                            正常
                                            {else/}
                                            禁用
                                            {/if}
                                        </td>
                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                {if condition='$vo.is_super neq 1'}
                                                <a  href="{:url('User/userEdit',array('uid' => $vo.id))}" class="btn btn-xs btn-info" title="编辑">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </a>
                                                <a href="javascript:;" class="del btn btn-xs btn-danger" uid="{$vo.id}" title="删除">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </a>
                                                {/if}
                                            </div>
                                        </td>
                                    </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div><!-- /.span -->
                    </div><!-- /.row -->
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div>
{include file="public:footer" /}
<script>
    $(function(){
        //删除供应商
        $('.del').click(function(){
            var uid = $(this).attr('uid');
            layer.msg('确定要删除该用户？',{
                time:0,
                btn:['确定','取消'],
                yes:function (index) {
                    layer.close(index);
                    $.get("{:url('/admin/User/userDel/uid/"+ uid +"')}",function(data){
                        if(data.code == 0)
                        {
                            layer.msg(data.msg);
                            setTimeout(function(){
                                window.location.href = data.url;
                            },200);
                        }else{
                            layer.msg(data.msg);
                        }
                    },'json');
                }
            });
        });
    });
</script>